@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="bg-primary-3 has-divider text-light o-hidden">
    <div class="container layer-2">
        <div class="text-center">
            <h1 class="display-4">CoProne</h1>
            <p>Global, distributed production of bed for treating Covid-19</p>
        </div>
    </div>
    <div class="decoration-wrapper d-none d-sm-block">
        <div data-jarallax-element="0 50">
            <div class="decoration top middle-y scale-5">
                <img class="bg-primary-2" src="~/img/decorations/deco-blob-9.svg" alt="deco-blob-9 decoration" data-inject-svg />
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-alt" src="~/img/dividers/divider-2.svg" alt="divider graphic" data-inject-svg />
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Coprone Mk1 Release date </h2>
                <p>We plan to release CoProne turning bed initial blueprints for CNC machining in</p>
            </div>
            <div class="col-12" data-countdown-date="2020/3/31" data-detailed>
                <div data-active class="row text-center">
                    <!-- <div class="col">
          <div class="card card-body shadow-3d">
              <span class="h1 text-primary mb-2" data-weeks data-format="%w"></span>
              <span class="h6 mb-0" data-weeks-label></span>
          </div>
      </div>
        -->
                    <div class="col">
                        <div class="card card-body shadow-3d">
                            <span class="h1 text-primary mb-2" data-days data-format="%d"></span>
                            <span class="h6 mb-0" data-days-label></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card card-body shadow-3d">
                            <span class="h1 text-primary mb-2" data-hours></span>
                            <span class="h6 mb-0" data-hours-label></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card card-body shadow-3d">
                            <span class="h1 text-primary mb-2" data-minutes></span>
                            <span class="h6 mb-0" data-minutes-label></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card card-body shadow-3d">
                            <span class="h1 text-primary mb-2" data-seconds></span>
                            <span class="h6 mb-0" data-seconds-label></span>
                        </div>
                    </div>
                </div>
                <div data-elapsed style="display: none;">
                    <h1>This is the fallback for when the countdown is elapsed</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-xl-4 col-lg-5 col-md-6 mb-4 mb-md-0" data-aos="fade-up">
                <img src="~/img/cowork-2.jpg" alt="Image" class="rounded shadow-3d">
            </div>
            <div class="col-lg-5 col-md-6" data-aos="fade-up">
                <h2 class="h1">Saving lives from Corona</h2>
                <p class="lead">Among the many challenges facing hospitals in the Covid-19 Pandemic, we have taken on three of them: </p>

                <p class="lead">
                    <strong>Provide enough beds</strong>, simplify use of the <strong>prone position</strong> and  <strong> reduce time turning patients </strong>from back to front.

                </p>
                <p> There are many other needs, and we do need more ventilators. But other people are working on that. We are makeing a bed.</p>
                <a href="/TheScience" class="lead hover-arrow">Learn more about the bed</a>
             
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <p>Navigate the presentation above by clicking on the arrows or using arrow-keys</p>
        </div>
        <div class="row align-items-center justify-content-around">
            <iframe src="https://slides.com/jenstandstad/deck-697336/embed" width="800" height="600" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div>
    </div>
</section>

<section class="bg-primary-alt o-hidden">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h2>Timeline</h2>
            </div>
        </div>
        <div class="row o-hidden o-lg-visible">
            <div class="col d-flex flex-column align-items-center">
                <ol class="process-vertical">
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">14th March 2020</span>
                            <h5 class="mb-0">Deciding to do something</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">18 March 2020</span>
                            <h5 class="mb-0">2 person cushion team established</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">23th March 2020</span>
                            <h5 class="mb-0">3 person web team established</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">24th March</span>
                            <h5 class="mb-0">Designer hired</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">28th March</span>
                            <h5 class="mb-0">First release</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">30th March</span>
                            <h5 class="mb-0">Test build</h5>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>