@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="bg-primary-3 has-divider text-light o-hidden">
    <div class="container layer-2">
        <div class="text-center">
            <h1 class="display-4">CoProne</h1>
            <p></p>
        </div>
    </div>
    <div class="decoration-wrapper d-none d-sm-block">
        <div data-jarallax-element="0 50">
            <div class="decoration top middle-y scale-5">
                <img class="bg-primary-2" src="~/img/decorations/deco-blob-9.svg" alt="deco-blob-9 decoration" data-inject-svg />
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-alt" src="~/img/dividers/divider-2.svg" alt="divider graphic" data-inject-svg />
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-xl-4 col-lg-5 col-md-6 mb-4 mb-md-0" data-aos="fade-up">
                <img src="~/img/cowork-2.jpg" alt="Image" class="rounded shadow-3d">
            </div>
            <div class="col-lg-5 col-md-6" data-aos="fade-up">
                <h2 class="h1">Saving lives from Corona</h2>
                <p class="lead">Click here to learn about the needs during the pandemic, and the science behind CoProne bed</p>
                <a href="/TheScience" class="lead hover-arrow">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary-alt o-hidden">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h2>Timeline</h2>
            </div>
        </div>
        <div class="row o-hidden o-lg-visible">
            <div class="col d-flex flex-column align-items-center">
                <ol class="process-vertical">
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">October 2016</span>
                            <h5 class="mb-0">Secured Series-A funding</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">April 2017</span>
                            <h5 class="mb-0">New CTO: Joe Schultz</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">October 2017</span>
                            <h5 class="mb-0">v1.0 Ships</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">February 2018</span>
                            <h5 class="mb-0">Featured in Wired</h5>
                        </div>
                    </li>
                    <li data-aos="fade-left">
                        <div class="process-circle bg-primary"></div>
                        <div>
                            <span class="text-small text-muted">September 2018</span>
                            <h5 class="mb-0">v.20 Ships</h5>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>