@page
@model TheBedModel
@{
    ViewData["Title"] = "The Bed";
}

<h1>@ViewData["Title"]</h1>



<!--- The Coprone Turning Bed -->

<section class="p-0" data-reading-position>
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="col-lg-10 col-xl-8">
                <div class="rounded o-hidden">
                    <div class="plyr" data-plyr-provider="youtube" data-plyr-embed-id="XUDSFy1horI"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <article class="article">
                    <p class="lead">
                        CoProne Turning bed is designed to solve three challenges: <strong>Reduce workload</strong> on intensive care staff , <strong>improve treatment of ARDS</strong> and get <strong>enough beds made</strong> fast enough. This is how we achieve each of those things.
                    </p>
              
                    <p>
                        In the current Corona Virus pandemic, many countries need to scale their Intensive Care units to cope with the influx of new patients.
                        The Corona Pandemic comes on top of the normal need for Emergency Care, and most hospitals have been operating at close to 100% even before the virus came along and changed everything.

                    </p>



                    <h4>Distributed production - from plywood</h4>
                    <p>
                        In normal times, hospital equipment a generally not made from wood.
                        But when you need to build things quickly, wood is the best material. During world war two, during a shortage of aluminium and steel, even planes were built from wood.
                        Having talked to many of them, we can attest that doctors in the frontlines are much more concerned with the practicalities
                        of their day to day job than about the materials. Painting the plywood with oil-paint not only makes for a nice, washable surface, but one that is more resistant to viruses than stainless steel and plastic.
                        <a href="/TheSciene/#DistributedProduction">Learn more</a>

                    </p>

                    <h4>Improved prone position</h4>
                    <lead>CoProne cushions probably will improve breathing in prone position compared to Swimmers Position, particularly for obese patients</lead>
                    <p>
                        The current mandated treatment for ARDS includes use of prone position. The way to obtain that in a normal hospital bed, is by using the so called "Swimmers Position".
                        The patient is placed head down, and hands above head. Done right, this basically reduces mortality by 50%. For more information, see <a href="/TheScience">the science</a>.
                        However, use of the Swimmers Position is not ideal, particularly for obese and heavy patients, because their weight makes their lungs squashed.
                        This is true both when they are on their backs, and when they are face down (in prone position).
                        <a href="/TheSciene/#PronePositionAndArds">Learn more</a>
                    </p>

                    <figure>
                        <img src="assets/img/article-9.jpg" alt="Image" class="rounded">
                        <figcaption>CoProne Cushions</figcaption>
                    </figure>
                    <p>
                        The CoProne cushions have been developed by Ergoseat AS, which has 15 years of experience creating sitting support system for multi-handicapped people. These Cushions can be used in a normal hospital bed,
                    </p>


                    <h4>Simplfied turning</h4>
                    <lead>CoProne turning bed will reduce staffing need for turning patients by more than 50%, and also reduce time spent.</lead>
                    <p>
                        Turning intubated patients, weakened from ARDS is a serious maneuver. Prone position is seen as one of the most demanding positions for anesthesized patients, and mistakes can lead to complications.
                        <ul>
                            <li>
                                Ventilator falling out
                            </li>
                            <li>
                                Kinked pipe in traceha
                            </li>
                            <li>
                                Pressure ulcers
                            </li>
                            <li>
                                Death
                            </li>
                        </ul>
                        There is no substitute for training, but the CoProne turning bed allows the same Intensive Care nurses to handle more patients in this difficult period.

                    </p>
                    <a href="/TheSciene/#StaffShortage">Learn more</a> about staff shortages affecting treatment of ARDS.

                </article>
            </div>
        </div>
    </div>
</section>
<hr />

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-10 col-xl-8">
                <h2>Slider Inline</h2>
                <div data-flickity='{ "imagesLoaded": true, "wrapAround": true }' class="mb-5">
                    <div class="carousel-cell mx-3">
                        <img src="images/Coprone3_0440.jpg" alt="Image" class="rounded">
                    </div>
                    <div class="carousel-cell mx-3">
                        <img src="images/Coprone3_0560.jpg" alt="Image" class="rounded">
                    </div>
                    <div class="carousel-cell mx-3">
                        <img src="images/Coprone3_0800.jpg" alt="Image" class="rounded">
                    </div>
                    <div class="carousel-cell mx-3">
                        <img src="images/Coprone3_1160.jpg" alt="Image" class="rounded">
                    </div>
                    <div class="carousel-cell mx-3">
                        <img src="images/Coprone3_1280.jpg" alt="Image" class="rounded">
                    </div>
                    <div class="carousel-cell mx-3">
                        <img src="images/Coprone3_1480.jpg" alt="Image" class="rounded">
                    </div>
                    <div class="carousel-cell mx-3">
                        <img src="images/Coprone3_1520.jpg" alt="Image" class="rounded">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<h2>Key features</h2>
<div class="row justify-content-center">
    <div class="col">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-icon-3 card-body justify-content-between">
                    <div class="icon-round mb-3 mb-md-4 bg-primary">
                        <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                    </div>
                    <span class="badge badge-primary">Feature</span>
                    <div>
                        <h3>Rapid, distributed production</h3>
                        <p class="lead">
                            CoProne bed can be built from standard parts and CNC machined plywood anywhere in the world, in time for expanding IC wards and the pandemic peak.
                        </p>
                        <a href="#DistributedProduction" class="lead hover-arrow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-icon-3 card-body justify-content-between">
                    <div class="icon-round mb-3 mb-md-4 bg-primary">
                        <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                    </div>
                    <span class="badge badge-primary">Feature</span>
                    <div>
                        <h3>Save time on turning maneuver</h3>
                        <p class="lead">
                            Cut intensive care nurse hours needed for turning maneuver by 3 hours per patient per day.
                        </p>
                        <a href="#PronePositioning" class="lead hover-arrow">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-icon-3 card-body justify-content-between">
                    <div class="icon-round mb-3 mb-md-4 bg-primary">
                        <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                    </div>
                    <span class="badge badge-primary">Feature</span>
                    <div>
                        <h3>Improve prone position by special cushions</h3>
                        <p class="lead">
                            With the ErgoSeat Prone cushions, realize better positiong faster. This reduces complications, reduces pressure ulcers, improves breathing and probably increases survival rates.
                        </p>
                        <a href="#ErgoSeatCushion" class="lead hover-arrow">Learn more</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

