@page
@model TheScienceModel
@{
    ViewData["Title"] = "The Science";
}


<h1>@ViewData["Title"]</h1>

<p><ul>
       <li>
           About 5% of Covid-19 patients need hospital help. When the pandemic peaks, this can overwhelm the hospitals.

       </li>
       <li> Shortage of beds <strong>and</strong> </li>
    <li>Shortage of skilled staff is the result. </li>
</ul> 
    CoProne Turning bed aims to help solve this by adressing three problems simultaneously:
    <ul>
        <li>Getting beds produced quickly,  globally</li>
        <li>Improve treatment for Covid-19</li>
        <li>Reduce staff workload</li>

    </p>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2>Treating Covid-19</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-danger">Problem</span>
                            <div>
                                <h3>How to treat Covid-19</h3>
                                <p class="lead">
                                    Covid-19 leads to ARDS, which require ventilator support. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-warning">Insight</span>
                            <div>
                                <h3>Prone position helps a lot</h3>
                                <p class="lead">
                                    Prone position (face down) reduces mortality rates by 50% 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-primary">Solution</span>
                            <div>
                                <h3>Improve prone position by special cushions</h3>
                                <p class="lead">
                                    Distribute pressure evenly, less risk of complications, use prone position more aggressibely and realize lower mortality rates.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <h2>Staff capacity</h2>
                <div class="row">

                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-danger">Problem</span>
                            <div>
                                <h3>Intensive care nurses are overworked</h3>
                                <p class="lead">
                                    We are running out of intensive care nurses
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-warning">Insight</span>
                            <div>
                                <h3>Turning patients is staff intensive </h3>
                                <p class="lead">
                                  Turning patients requires up to (3-5), and takes up to 30 minutes of preparation and execution. 
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-primary">Solution</span>
                            <div>
                                <h3>Bed with semi-automatic turning</h3>
                                <p class="lead">
                                    A bed that supports turning patients, will reduce staff needed from 5 to 2, and  
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-primary">Solution</span>
                            <div>
                                <h3>Reduce time needed to turn patients</h3>
                                <p class="lead">
                                    Simplify the turning procedure for proned patients
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-primary">Solution</span>
                            <div>
                                <h3>Distributed production using CNC</h3>
                                <p class="lead">
                                    Build beds globally, quickly and with high quality
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<p></p>
