@page
@model TheScienceModel
@{
    ViewData["Title"] = "The Science behind CoProne turning bed";
}


<h1>@ViewData["Title"]</h1>

    CoProne Turning bed aims to help solve this by adressing <strong>three problems </strong>simultaneously:
<ul>
    <li>Getting beds produced quickly,  globally</li>
    <li>Improve treatment for Covid-19</li>
    <li>Reduce staff workload</li>
</ul>

</p>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2>Problem 1 : Treating Covid-19 effectively</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-danger">Problem</span>
                            <div>
                                <h3>How to treat Covid-19</h3>
                                <p class="lead">
                                    Covid-19 leads to ARDS, which require ventilator support.
                                </p>
                                <a href="#PronePositionAndArds" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-warning">Insight</span>
                            <div>
                                <h3>Prone position helps a lot</h3>
                                <p class="lead">
                                    Prone position (face down) reduces mortality rates by 50%
                                </p>
                                <a href="#PronePositionAndArds" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-primary">Solution</span>
                            <div>
                                <h3>Improve prone position by special cushions</h3>
                                <p class="lead">
                                    Distribute pressure evenly, less risk of complications, use prone position more aggressibely and realize lower mortality rates.
                                </p>
                                <a href="#PronePositionAndArds" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <div class="col">
                <h2>Problem 2 : Not enough beds</h2>
                <div class="row">

                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-danger">Problem</span>
                            <div>
                                <h3>We need more beds</h3>
                                <p class="lead">
                                    The surge in Covid-19 patients requires expansion of Intensive Care. This means more ventilators, more staff and <strong>more beds</strong>.But how can we build beds fast
                                    enough, globally?
                                </p>
                                <a href="#DistributedProduction" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-warning">Insight</span>
                            <div>
                                <h3>Desperate times, desperate measures</h3>
                                <p class="lead">
                                    In this special time of crisis, hospitals might take new equipment in use without the normal amount of testing.
                                </p>
                                <a href="#DistributedProduction" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-primary">Solution</span>
                            <div>
                                <h3>Decentralized, crowd-sourced production</h3>
                                <p class="lead">
                                    Let us collaborate like the software industry, utilise available makerspaces, carpenters and machining to build and test new beds, globally, at scale.
                                </p>
                                <a href="#DistributedProduction" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <div class="col">
                <h2>Problem 3 : Shortage of trained nurses</h2>
                <div class="row">

                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-danger">Problem</span>
                            <div>
                                <h3>Intensive care nurses are overworked</h3>
                                <p class="lead">
                                    We are running out of intensive care nurses
                                </p>
                                <a href="#ReduceWorkload" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-warning">Insight</span>
                            <div>
                                <h3>The turning maneuver is very work intensive</h3>
                                <p class="lead">
                                    Turning patients into prone is risky, can take up to 35 minutes, and requires up to 5 nurses, and must be repeated every 8-15 hours.
                                </p>
                                <a href="#ReduceWorkload" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="card card-icon-3 card-body justify-content-between">
                            <div class="icon-round mb-3 mb-md-4 bg-primary">
                                <img class="icon bg-primary" src="assets/img/icons/theme/devices/airpods.svg" alt="icon" data-inject-svg />
                            </div>
                            <span class="badge badge-primary">Solution</span>
                            <div>
                                <h3>Reduce time spent on turning maneuver</h3>
                                <p class="lead">
                                    Build a bed that can turn the patient from prone to supine and back, quickly and safely, requiring onl two nurses and taking up less than 15 minutes.
                                </p>
                                <a href="#ReduceWorkload" class="lead hover-arrow">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--- The ARDS AND PRONE -->
<section id="PronePositionAndArds" class="pb-0 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="d-flex justify-content-between align-items-center mb-3">


                </div>
                <h1>Treating ARDS and Covid-19</h1>

            </div>
        </div>
    </div>
</section>
<section class="p-0" data-reading-position>
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="col-lg-10 col-xl-8">
                <div class="rounded o-hidden">
                    <div class="plyr" data-plyr-provider="youtube" data-plyr-embed-id="wY2X9roWtHA"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <article class="article">
                    <p class="lead">
                        Treating ARDS is difficult. In 2018 a strong recommendation was added, imploring higher use of the prone position (face down) , following a study showing up to 50% lower mortality.
                    </p>

                    <p>
                        <h4>What does the science say?</h4>
                        <blockquote class="bg-primary-alt">

                            <div class="h3 mb-2">“Prone positioning is currently a recommendation to treat ARDS patients, and is associated with a 50% decrease in mortality following intubation.”</div>
                            <span class="text-small text-muted"><a href="https://pulmccm.org/ards-review/prone-positioning-ards-ats-sccm/">Source : PulmCcm.org</a></span>
                            <a href="#" class="btn btn-primary btn-sm">
                                <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                                <span>Tweet</span>
                            </a>
                        </blockquote>

                        See this excerpt from PulmCcm.org:
                        <blockquote>
                            <div class="mb-2">
                                Prone positioning improves ventilation-perfusion matching (transferring delivered oxygen into the bloodstream more efficiently) and keeps alveolar units open and evenly distributed at end-expiration (improving gas exchange and preventing ventilator-induced lung injury). Through one or more of these mechanisms,<strong> prone positioning is believed to improve survival for some patients with ARDS.</strong>

                            </div>
                            <span class="text-small text-muted"><a href="https://pulmccm.org/ards-review/prone-positioning-ards-ats-sccm/">Source : PulmCcm.org</a></span>
                            <a href="#" class="btn btn-primary btn-sm">
                                <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                                <span>Tweet</span>
                            </a>

                        </blockquote>
                    </p>
                    <p>The recommendation to use the Swimmers Position was the result of a high quality study.</p>
                    <blockquote>
                        <div class="mb-2">
                            In making their recommendation, the guideline authors relied on the PROSEVA study, which found a <strong>somewhat incredible 50% reduction in death from ARDS (16% vs 33%)</strong>, and post hoc analyses of previous ARDS trials testing prone positioning.

                        </div>
                        <span class="text-small text-muted"><a href="https://pulmccm.org/ards-review/prone-positioning-ards-ats-sccm/">Source : PulmCcm.org</a></span>
                        <a href="#" class="btn btn-primary btn-sm">
                            <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                            <span>Tweet</span>
                        </a>

                    </blockquote>
                    </p>
                    <p>
                        This is due to how prone position is a more natural state of the lung, and allows higher rate of fluid clearance from lungs, because the orientation of the lungs allows the fluid to collect ventrally, and is assisted by gravity and reabsorbed into the tissue. This is a more natural way to obtain the same effect as high PEEP, and in combination the effects are even better.
                    </p>
                    <p>
                        However a little further down, we also read :
                    </p>
                    <p>
                        <blockquote>
                            <div class="mb-2">
                                There’s a <strong>natural resistance to prone positioning for patients in ARDS among physicians, nurses, and administrators. </strong>Moving severely hypoxemic, ventilator dependent patients is inherently risky. Studies testing prone positioning showed an increased incidence of endotracheal tube obstruction among those proned. Pressure sores were also increased. In one study, arrhythmias or hypotension, vomiting, lost IV access, and endotracheal tube displacement were all significantly more likely in proned patients.
                                The PROSEVA study was conducted at French centers with several years’ prior experience in prone positioning for patients with ARDS. <strong>Less-experienced centers would be correct to ignore the low observed complication rate in PROSEVA, and to use extreme caution with each patient.</strong>

                            </div>
                            <span class="text-small text-muted"><a href="https://pulmccm.org/ards-review/prone-positioning-ards-ats-sccm/">Source : PulmCcm.org</a></span>
                            <a href="#" class="btn btn-primary btn-sm">
                                <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                                <span>Tweet</span>
                            </a>

                        </blockquote>


                    </p>
                    <h4>Swimmers position</h4>

                    <p>
                        Prone position is effective in treating ARDS, and is realized through the so called "Swimmers position". The patient is positioned in a normal hospital bed, face down with improvised supports for torost and head, using available duveys and blankets.
                    </p>
                    <figure>
                        <img src="img/swimmers-position.jpg" alt="Image" class="rounded">
                        <figcaption>Swimmers position</figcaption>
                    </figure>

                    However, obese patient are likely to put pressure on the abdomen, which reduces the effiacy of prone postion. It is this insight that has prompted us to engage in improved positioning for ARDS.
                    <blockquote>
                        <div class="mb-2">
                            Studies have shown that prone positioning causes a decrease in cardiac output. Contributing to this is a reduction in venous return, effects on arterial filling and decreased left ventricular compliance due to higher intra-thoracic pressures. Again, any pressure on the abdomen can accentuate this by compressing the IVC and decreasing venous return.
                        </div>
                        <span class="text-small text-muted"><a href="/Papers/Patient-positioning-during-anaesthesia.pdf">Source : Dr Jennifer Hartley, Canberra Hospital </a></span>
                        <a href="#" class="btn btn-primary btn-sm">
                            <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                            <span>Tweet</span>
                        </a>

                    </blockquote>

                    <p>
                        Swimmers position is basically the best kind of prone position you can do in an ordinary hospital bed, without any specialized equipment supporting the prone and regulating pressure.
                        The success of the swimmers position depends entirely on the training, time and care provided by the nurses or physioteraphists responsible for the positioning and turning.
                        Also, as we will see in the next chapter - turning the patient in and out of prone position safely requires a large crew, takes more time than expected, and requires training.
                        All of which is in short supply in todays Intensive Care units.
                    </p>

                    <h5>Summary</h5>
                    <p>To summarize, our findings are</p>
                    <ul>
                        <li>Prone position is important in treating ARDS</li>
                        <li>Swimmers Position is not ideal, particularly given obese patients which weigh down their own abdomen, reducing the expansion of the lungs, counteracting the prone position</li>
                        <li>Swimmers position requires turning the patient</li>
                    </ul>
                    <h5>Sources</h5>
                    <ol>
                        <li><a href="/Papers/Patient-positioning-during-anaesthesia.pdf">Patient positioning during anesthesia, Dr. Jennifer Hartley Canberra Hospital</a></li>
                        <li><a href="/Papers/PRONE_Position–Basics–Anaesthesia-News.pdf">Prone Position Basics (Anaesthesia News) </a></li>
                        <li><a href="/Papers/SafeProneCheclist.pdf">Safe Prone Checklist, 2017 </a></li>
                        <li><a href="/Papers/PronePositionInARDS.pdf">Prone Position in ARDS, 2016 </a></li>
                    </ol>

                </article>
            </div>
        </div>
    </div>
</section>

<!--- Staff shortages --->

<section id="ReduceWorkload" class="pb-0 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="d-flex justify-content-between align-items-center mb-3">


                </div>
                <h1>Staff shortages and turning patients</h1>

            </div>
        </div>
    </div>
</section>
<section class="p-0" data-reading-position>
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="col-lg-10 col-xl-8">
                <div class="rounded o-hidden">
                    <div class="plyr" data-plyr-provider="youtube" data-plyr-embed-id="Cwu8zMYppis"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <article class="article">
                    <p class="lead">
                        Right now, several forces converge to produce an imminent and extreme shortage of trained medical personell. The profession where this is most pronounced are trained intensive care nurses. The expansion of intensive care happens at the same time as staff are sent into quarantine. Training new staff is one important solution, but reducing time needed for common tasks is another.
                    </p>
                    <p>
                        Our preliminary research interviewing hospital professionals indicate that the time required to turn a patient between prone and supine requires:
                        <ul>
                            <li>
                                Takes a total of about 25-35 minutes for the lead nurse.
                            </li>
                            <li>Takes about 15-20 minutes for all other nurses involved</li>
                            <li>Requires four to five nurses</li>
                            <li>Prone position between 12 to 15 hours</li>
                            <li>Some patients are more fragile, and must be turned more often</li>
                        </ul>
                    </p>
                    <figure>
                        <img src="images/safe-prone-maneuver.png" alt="Image" class="rounded">
                        <figcaption>Safe prone maneuver- Source <a href="/papers/SafeProneChecklist.pdf">Safe Prone Checklist</a></figcaption>
                    </figure>

                    <p>
                        Due to the number of nurses required, each turning takes approximately 1.5 man-hours of nurse time. At best, each patients requires only about two turnings per 25 hours.
                        This brings the total amount of nurse-time required to turn a patient with ARDS up to about 3. Turning patients comes in addition to
                        all the other work nurses does, such as :
                        <ul>
                            <li>Measuring blood pressure and oxygenation</li>
                            <li>Caring for patient, including pressure ulcers</li>
                            <li>Collecting information for doctors</li>
                            <li>Responding to emergency request for work</li>
                        </ul>

                        As intensive care units rapidly filling up with patients requiring the same type of work-intensive treatment, Intensive Care nurses are running form one case to the next.
                        In such an environment, reducing the workload and number of nurses required to turn patients can dramatically improve working condition and quality of service in an ICU unit, freeing up time
                        for other tasks.

                    </p>
                    <h4>Turning beds exist and are proven</h4>
                    <p>
                        Beds that assist in the turning of patients, based on a similar principle has been used for over 20 years. However, these are much to cumbersome for rapid production and deployment.
                        We are using the opportunity to develop turning beds that can be rapidly deployed and with minimal training,  based on proven usefulness.
                    </p>
                    <figure>
                        <img src="images/rotoprone-cumbersome-monster.jpeg" alt="Image" class="rounded">
                        <figcaption>RotoProne bed</figcaption>
                    </figure>
                    <p>
                        The rotating bed is not well known, but has a strong track record to be used in cases with ARDS. During the Swine Flu epidemic, rotating beds proved useful for allowing the prone position for nurses.
                    </p>
                    <blockquote class="bg-primary-alt">
                        <div class="h3 mb-2">Those who treated Dillon (a patient) believe the (turning) bed made the difference. Without it, she might have a become one of the hospital's first swine flu casualties. "She got the benefit from it within the first four hours, but it took eight days for her not to need it anymore"</div>
                        <span class="text-small text-muted"><a href="https://www.chron.com/news/houston-texas/article/Rotating-hospital-bed-aided-swine-flu-fight-1582900.php"> Source : www.chron.com</a><</span>
                        <a href="#" class="btn btn-primary btn-sm">
                            <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                            <span>Tweet</span>
                        </a>
                    </blockquote>

                    <h5>Summary</h5>
                    <p>
                        From existing literature, existing products and physiological asessements, turning beds help turn the patient more often and with better room for abdomen to expand when intubated.
                        It is therfore likely, that turning beds can produce same or better results than "Swimmers Position" when treating ARDS.
                        Just as important in times of high demand for trained nurses, is the considerable reduction in nurse-time required to perform the turning maneuver.
                        Reducing the number of staff required can dramatically affect the availablility of nurse time for other tasks, and avoid turning maneuver tasks that clog up the
                        worflow in the Intensive Care unit.
                    </p>
                    <ul>
                        <li>Turning beds have a proven track records</li>
                        <li>Reduces pressure on abdomen, a known problem with Swimmers Position</li>
                        <li>Making the turning maneuver quicker to perform</li>
                        <li>Requres less time to perform the maneuver</li>
                        <li>Reduces trained man-hours from more than 1.5h per turning maneuver to less than 45 min.</li>
                    </ul>


                    <h5>Sources</h5>
                    <ol>
                        <li><a href="https://www.jewellnursingsolutions.com/pressure-injury-prevention/">Myths About Turning And Repositioning, jewellnursingsolutions.com</a></li>

                    </ol>

                </article>
            </div>
        </div>
    </div>
</section>

<!--- Need more beds-->

<section id="DistributedProduction" class="pb-0 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="d-flex justify-content-between align-items-center mb-3">


                </div>
                <h1>Shortage of hospital beds</h1>

            </div>
        </div>
    </div>
</section>
<section class="p-0" data-reading-position>
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="col-lg-10 col-xl-8">
                <div class="rounded o-hidden">
                    <div class="plyr" data-plyr-provider="youtube" data-plyr-embed-id="qFazKRvsrrk"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <article class="article">
                    <p class="lead">
                        In many countries, Intensive care is expanded to use hotels, sports arenas and even parking lots. Beds are urgently needed. So are ventilators, oxygen masks and many other things. As a team, we must focus on one thing and we focus on beds.
                    </p>
                    That being said, simple militray beds are generally available in large quantities. These are not suitable for hospital use because they are  :
                    <ul>
                        <li>Unable to support the patient in a sitting position</li>
                        <li>Not high enough for good working conditions for nurses</li>
                    </ul>

                    <blockquote class="bg-primary-alt">
                        <div class="h3 mb-2">No part of the U.S. has enough hospital beds for a coronavirus crisis</div>
                        <span class="text-small text-muted"><a href="https://www.axios.com/coronavirus-hospital-bed-crunch-capacity-18e22c81-006b-4654-a74c-40ff86488431.html"> Source : Bob Herman, Axios.com</a><</span>
                        <a href="#" class="btn btn-primary btn-sm">
                            <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                            <span>Tweet</span>
                        </a>
                    </blockquote>
                    <p>The U.S. has 924,000 total hospital beds, or less than three beds for every 1,000 people. Roughly 5% of those beds are in standard intensive care units, where the sickest coronavirus patients would need to go. (source : <a href="https://www.axios.com/coronavirus-hospital-bed-crunch-capacity-18e22c81-006b-4654-a74c-40ff86488431.html"> Axios.com</a></p>
                    <figure>
                        <img src="assets/img/shortageofbeds.jpg" alt="Image" class="rounded">
                        <figcaption>Shortage of hospital beds is likely to affect entire world</figcaption>
                    </figure>
                    <p>
                        Aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </p>
                    <blockquote class="bg-primary-alt">
                        <div class="h3 mb-2">“Worst-case scenario is we won’t have enough beds for people who need them,” he says, adding that he is especially concerned about the numbers of ventilators available, since Covid-19 affects the lungs and many critically ill patients are expected to need breathing support. ”</div>
                        <span class="text-small text-muted"><a href="https://www.theguardian.com/world/2020/mar/18/healthcare-workers-coronavirus-masks-beds-tests">– Dr George Rutherford UCSF epidemiologist and infectious disease specialis</a></span>
                        <a href="#" class="btn btn-primary btn-sm">
                            <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                            <span>Tweet</span>
                        </a>
                    </blockquote>

                    <blockquote class="bg-primary-alt">
                        <div class="h3 mb-2">
                            “We looked nationally, and within each community within the US (because communities have different levels of capacity, different populations) What did we find? We have a HUGE challenge ahead.

                            Nationally, if we empty 50% of our currently occupied beds (!!),

                            We would need 3x to 5X more beds than we would have to care for patients. Some markets would be much more badly hit than others.

                            No market would be spared.
                            ”
                        </div>
                        <span class="text-small text-muted"><a href="https://twitter.com/ashishkjha/status/1240013226751832064">Ashish Jha</a></span>
                        <a href="#" class="btn btn-primary btn-sm">
                            <img class="icon" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
                            <span>Tweet</span>
                        </a>
                    </blockquote>


                    <p>
                        If the current trend continues, we are likely to see:
                        <ul>
                            <li>Extraordinary expansion of emergency hospital capacity, using hotels, sports arenas etc</li>
                            <li>A need for temporary beds to treat patients with Covid-19 </li>
                            <li>Improvised equipment, as we have seen from Italy</li>
                        </ul>

                    </p>

                    <h5>Sources</h5>
                    <ol>
                        <li><a href="https://theconversation.com/what-steps-hospitals-can-take-if-coronavirus-leads-to-a-shortage-of-beds-134385">Shortage of beds, The Conversation 17.03.2020</a></li>
                        <li><a href="https://www.nytimes.com/interactive/2020/03/17/upshot/hospital-bed-shortages-coronavirus.html">New York Times, 17.03.2020 </a></li>
                        <li><a href="https://www.axios.com/coronavirus-hospital-bed-crunch-capacity-18e22c81-006b-4654-a74c-40ff86488431.html">No part of the U.S. has enough hospital beds for a coronavirus crisis</a></li>
                        <li><a href="https://www.theguardian.com/world/2020/mar/18/healthcare-workers-coronavirus-masks-beds-tests">Tests, masks, beds The Guardian, 18.07.2020 </a></li>
                        <li><a href="https://www.youtube.com/watch?v=qFazKRvsrrk">BED SHORTAGE: Intensive Care Unit beds could run out by next week, Sky News Australia 26.03.2020 </a></li>
                    </ol>




                    <h3>Executive summary</h3>
                    <p>
                        <ul>
                            <li>About 5% of Covid-19 patients need hospital help. When the pandemic peaks, this will overwhelm our hospitals in many places.</li>
                            <li>
                                Patients sick from Covid-19 requiring intubation often suffer from ARDS.
                            </li>
                            <li>ARDS is treated lying face down, called Prone position or Swimmers position</li>

                            <li>This position can reduce mortality by up to 50%,</li>

                            <li>Swimmers position can be further improved with special cushions, skill and expertise</li>
                            <li>Better positioning  minimizes complications when positioning users in the prone position for extended periods of time</li>

                            <li>However, when using a normal bed - turning unconscious people from back to front is risky maneuver</li>
                            <li>It takes a lot of time, and requires up to 5 nurses</li>
                            <li>Right now, there is critical shortage of trained Intensive Care nurses</li>
                            <li>Right now, there are many patients that need this work-intensive treatment</li>
                            <li>Our bed is based on a proven concept, it can help reduce mortality and adress this shortage of personell</li>
                            <li>Because of it's design, it can mass produced everywhere in the world, quickly</li>
                        </ul>


                        In this document we go through the science supporting the CoProne turning bed, designed for use with in Intensive Care departments at hospitals.
                        The Coprone ARDS treatment station is designed to be as simple as possible to construct, enabling rapid deployment across the planet.
                        It is based on existing products and many years of positioning expertise present in ErgoSeat AS.
                        Our plan is to release the blueprints so that makers across the globe can produce the product and sell it to local hospitals during the Covid-19 outbreak.


                    <p>

                    <p></p>
                </article>
            </div>
        </div>
    </div>
</section>